# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('retail_sales_dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [5]:
df.isnull()

df.isnull().sum()

#The results show no null values found

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [6]:
df.describe()

#From looking at the dataset, the only areas I could see outliers existing are in the Total Amount & Price per Unit.

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [ ]:
#My dataset is not very large, so the only unnecessary data I have would be the Transaction ID & Customer ID, 
#as it doesn't really play any role in the analysis I am conducting.

df = df.drop(['Transaction ID', 'Customer ID'], axis = 1)

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [7]:
df.head(50)

#After looking at the top 50 entries, I do not see anything which stands out as inconsistent.

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200
10,11,2023-02-14,CUST011,Male,23,Clothing,2,50,100
11,12,2023-10-30,CUST012,Male,35,Beauty,3,25,75
12,13,2023-08-05,CUST013,Male,22,Electronics,3,500,1500
13,14,2023-01-17,CUST014,Male,64,Clothing,4,30,120
14,15,2023-01-16,CUST015,Female,42,Electronics,4,500,2000
15,16,2023-02-17,CUST016,Male,19,Clothing,3,500,1500
16,17,2023-04-22,CUST017,Female,27,Clothing,4,25,100
17,18,2023-04-30,CUST018,Female,47,Electronics,2,25,50
18,19,2023-09-16,CUST019,Female,62,Clothing,2,25,50
19,20,2023-11-05,CUST020,Male,22,Clothing,3,300,900
20,21,2023-01-14,CUST021,Female,50,Beauty,1,500,500
21,22,2023-10-15,CUST022,Male,18,Clothing,2,50,100
22,23,2023-04-12,CUST023,Female,35,Clothing,4,30,120
23,24,2023-11-29,CUST024,Female,49,Clothing,1,300,300
24,25,2023-12-26,CUST025,Female,64,Beauty,1,50,50
25,26,2023-10-07,CUST026,Female,28,Electronics,2,500,1000
26,27,2023-08-03,CUST027,Female,38,Beauty,2,25,50
27,28,2023-04-23,CUST028,Female,43,Beauty,1,500,500
28,29,2023-08-18,CUST029,Female,42,Electronics,1,30,30
29,30,2023-10-29,CUST030,Female,39,Beauty,3,300,900
30,31,2023-05-23,CUST031,Male,44,Electronics,4,300,1200
31,32,2023-01-04,CUST032,Male,30,Beauty,3,30,90
32,33,2023-03-23,CUST033,Female,50,Electronics,2,50,100
33,34,2023-12-24,CUST034,Female,51,Clothing,3,50,150
34,35,2023-08-05,CUST035,Female,58,Beauty,3,300,900
35,36,2023-06-24,CUST036,Male,52,Beauty,3,300,900
36,37,2023-05-23,CUST037,Female,18,Beauty,3,25,75
37,38,2023-03-21,CUST038,Male,38,Beauty,4,50,200
38,39,2023-04-21,CUST039,Male,23,Clothing,4,30,120
39,40,2023-06-22,CUST040,Male,45,Beauty,1,50,50
40,41,2023-02-22,CUST041,Male,34,Clothing,2,25,50
41,42,2023-02-17,CUST042,Male,22,Clothing,3,300,900
42,43,2023-07-14,CUST043,Female,48,Clothing,1,300,300
43,44,2023-02-19,CUST044,Female,22,Clothing,1,25,25
44,45,2023-07-03,CUST045,Female,55,Electronics,1,30,30
45,46,2023-06-26,CUST046,Female,20,Electronics,4,300,1200
46,47,2023-11-06,CUST047,Female,40,Beauty,3,500,1500
47,48,2023-05-16,CUST048,Male,54,Electronics,3,300,900
48,49,2023-01-23,CUST049,Female,54,Electronics,2,500,1000
49,50,2023-08-24,CUST050,Female,27,Beauty,3,25,75

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?

In [ ]:
1. My data was pretty well-constructed, so I really only noted some unnecessary data. 
2. Personally, I would say not really in this specific case.